.movie-card {
  width: 20%;
  min-width: 20em;
  position: relative;
  margin: 0 1em 1em 0;
}
.movie-card:hover .movie--image-container {
  opacity: 0.5;
}

.movie-card:hover .movie--details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card {
  cursor: pointer;
}

.movie--image-container img {
  width: 100%;
  height: 30em;
}

.movie--details-container {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

p.movie--title {
  color: white;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: 600;
}
